.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.maindiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  background-color: rgb(98, 199, 206);
}

.paragraph {
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: solid lightblue 2px;
  padding: 10px;
  border: none;
  background-color: rgb(127, 127, 173);
}

.inputStyles {
  font-size: 30px;
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: solid lightblue 2px;
  padding: 10px;
  text-align: center;
  background-color: lightgreen;
  border: none;
}
.inputStyles1 {
  font-size: 30px;
  height: 50px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: solid lightblue 2px;
  padding: 10px;
  text-align: center;
  background-color: lightcoral;
  border-color: lightcoral;
  outline: none;
}
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
p {
  padding: 30px;
}
.selectdiv {
  background-color: rgb(58, 97, 74);
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.selectItem {
  background-color: rgb(58, 97, 74);
  margin-left: 10px;
}
